<template>
    <div class="Polaris-Page Polaris-Page--fullWidth">

        <div class="Polaris-Page__Content">
            <div class="Polaris-Card overflow-in">
                <div class="Polaris-Card__Header">
                    <h2 class="Polaris-Heading">Orders List</h2>
                </div>
                <div class="Polaris-Card__Section">
                    <div class="Polaris-Card mt-1">
                        <div class="table-responsive">
                            <table>
                                <tr>
                                    <th class="text-center">Order</th>
                                    <th class="text-center">Customer</th>
                                    <th class="text-center">Payment</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Total</th>
                                </tr>
                                <tr v-for="(item, index) in reports">
                                    <td class="text-center"> <router-link :to="{name:'order_detail',params: { id: item.id }}"> {{item.order_number}} </router-link> </td>
                                    <td class="text-center">{{item.customer}}</td>
                                    <td class="text-center" v-html="status(item.payment_status)"></td>
                                    <td class="text-center">{{item.created_at}}</td>
                                    <td class="text-center" >{{ item.total }}</td>
                                </tr>
                            </table>

                        </div>

                    </div>
                    <custom-paginate align="center" class="py-1" :prev_page="prev_page" :next_page="next_page" ></custom-paginate>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ButtonLoading from "../shopify/ButtonLoading";
    import CustomPaginate from "../shopify/CustomPaginate";
    import helper from "../../helper";
    export default {
        components: {
            ButtonLoading,
            CustomPaginate,
        },
        data() {
            return {
                reports: [],
                prev_page: '',
                next_page: '',
                current_url: '',
            }
        },
        mounted(){
            let base = this;
            base.current_url = "/orders?page=1";
            base.getReports();

            this.$root.$on('get-data',function(url){
                base.current_url = url;
                base.getReports();
            });
        },
        methods:{
            filterData(item,is_from = 1) {
                // number
                if(item.export_type == 'number'){
                    if(is_from == 1)
                        return "#"+item.from_number;
                    else
                        return "#"+item.to_number;
                }

                // from date or end date
                if(is_from == 1)
                    return this.changeFormat(item.start_date);
                else
                    return this.changeFormat(item.end_date);


            },
            changeFormat(date){
                let d = new Date(date);
                let month = ["January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"][d.getMonth()];
                return month+' '+d.getDate()+", "+d.getFullYear();
            },
            status(id) {

                switch (id) {
                    case 'pending':
                    case 'refunded':
                    case 'partially_refunded':
                        return `
                            <div data-polaris-theme-provider="true" style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"></span></span>${id}</span></div>
                        `;
                    case 'authorized':
                    case 'partially_paid':
                    case 'paid':
                        return `<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><span class="Polaris-Badge Polaris-Badge--statusSuccess"><span class="Polaris-VisuallyHidden"></span><span class="Polaris-Badge__Content">${id}</span></span></div>`;
                    case 'voided':
                        return `<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><span class="Polaris-Badge Polaris-Badge--statusWarning"><span class="Polaris-VisuallyHidden">Warning</span><span class="Polaris-Badge__Content">${id}</span></span></div>`;
                }
            },
            async getReports() {
                let base = this;
                try {
                    helper.startLoading();
                    let {data} = await axios.get(base.current_url);
                    base.reports = data.data;
                    base.prev_page = data.prev_page_url;
                    base.next_page = data.next_page_url;
                } catch ({response}) {
                }
                helper.stopLoading();
            }
        }
    };
</script>
