<template>
    <div class="Polaris-Page Polaris-Page--fullWidth">

        <div class="Polaris-Page__Content">
            <div class="Polaris-Card overflow-in">
                <div class="Polaris-Card__Header">
                    <h2 class="Polaris-Heading">Orders {{ reports.name || "" }}</h2>
                </div>
                <div class="Polaris-Card__Section" v-for="(item, index) in  reports.lineItems">
                    <div class="from-row">
                        <div class="from-item">
                            <h2 class="Polaris-Heading">Product image</h2>
                            <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeLarge mt-1"><img :src="item.image.originalSrc" class="Polaris-Thumbnail__Image"></span>
                        </div>
                        <div class="from-item">
                            <h2 class="Polaris-Heading">Qrcode image</h2>
                            <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeLarge mt-1"><img :src="item.metafields.barcode_url" class="Polaris-Thumbnail__Image"></span>
                        </div>
                        <div class="from-item">
                            <h2 class="Polaris-Heading">Product title </h2>
                            <p class="mt-1">{{item.title}}</p>
                        </div>
                        <div class="from-item">
                            <h2 class="Polaris-Heading">Variant title </h2>
                            <p class="mt-1">{{item.variantTitle}}</p>
                        </div>

                        <div class="from-item">
                            <h2 class="Polaris-Heading">Quantity</h2>
                            <p class="mt-1">{{item.quantity}}</p>
                        </div>
                        <div class="from-item">
                            <h2 class="Polaris-Heading">Price</h2>
                            <p class="mt-1">${{item.originalTotal}}</p>
                        </div>

                        <div class="from-item">
                            <h2 class="Polaris-Heading">Unique code</h2>
                            <div class="Polaris-Connected mt-1">
                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                    <div class="Polaris-TextField Polaris-TextField--hasValue"><input  class="Polaris-TextField__Input" readonly aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" :value="item.metafields.unique_id">
                                        <div class="Polaris-TextField__Backdrop"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="from-item">
                            <h2 class="Polaris-Heading">Url</h2>
                            <div class="Polaris-Connected mt-1">
                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                    <div class="Polaris-TextField Polaris-TextField--hasValue"><input class="Polaris-TextField__Input" readonly aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" :value="item.metafields.page_url">
                                        <div class="Polaris-TextField__Backdrop"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="from-item">
                            <h2 class="Polaris-Heading">Options</h2>
                            <div v-for="(option_val, index_val) in item.variant.selectedOptions">
                                <span> {{ option_val.name }}: </span> <span style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><span class="Polaris-Badge Polaris-Badge--statusSuccess"><span class="Polaris-VisuallyHidden"></span><span class="Polaris-Badge__Content">{{ option_val.value }}</span></span></span>
                            </div>

                        </div>
                        <!--<div class="from-item">
                            <h2 class="Polaris-Heading">Date</h2>
                            <p class="mt-1">10/15/2020</p>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>

        <div class="Polaris-PageActions">
            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
                <div class="Polaris-Stack__Item">
                    <div class="Polaris-ButtonGroup">
                        <div class="Polaris-ButtonGroup__Item"></div>
                    </div>
                </div>
                <div class="Polaris-Stack__Item"><router-link tag="button" :to="{name:'list'}" type="button" class="Polaris-Button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Back</span></span></router-link></div>
            </div>
        </div>
    </div>
</template>
<script>
    import ButtonLoading from "../shopify/ButtonLoading";
    import helper from "../../helper";
    import {Modal, Button} from '@shopify/app-bridge/actions';
    export default {
        components: {
            ButtonLoading,
        },
        data() {
            return {
                reports: [],
            }
        },
        mounted(){
            this.getOrderDetail();
        },
        methods:{
            status(id) {
                switch (id) {
                    case 'pending':
                    case 'refunded':
                    case 'partially_refunded':
                        return `
                            <div data-polaris-theme-provider="true" style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"></span></span>${id}</span></div>
                        `;
                    case 'authorized':
                    case 'partially_paid':
                    case 'paid':
                        return `<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><span class="Polaris-Badge Polaris-Badge--statusSuccess"><span class="Polaris-VisuallyHidden"></span><span class="Polaris-Badge__Content">${id}</span></span></div>`;
                    case 'voided':
                        return `<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><span class="Polaris-Badge Polaris-Badge--statusWarning"><span class="Polaris-VisuallyHidden">Warning</span><span class="Polaris-Badge__Content">${id}</span></span></div>`;
                }
            },
            async getOrderDetail() {
                let base = this;
                try {
                    let id = this.$route.params.id;
                    helper.startLoading();
                    let {data} = await axios.get('/orders-detail/'+id);
                    console.log(data);
                    base.reports = data;
                } catch ({response}) {
                }
                helper.stopLoading();
            }
        }
    };
</script>
