.py-1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.w-100 {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.pb-1 {
  padding-bottom: 1.5rem;
}

.mr-1 {
  margin-right: 1.5rem;
}

.mt-1 {
  margin-top: 1.5rem;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.d-inline-block {
  display: inline-block;
}

.Polaris-Select .Polaris-Select__Input {
  position: relative;
  background-color: transparent;
  opacity: 1;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: none;
  min-height: 3.6rem;
  padding: 0.5rem 0.8rem 0.5rem 1.2rem;
  border: 0;
  height: auto;
}

.Polaris-Select .Polaris-Select__Icon {
  fill: #637381;
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);
  margin-right: -0.4rem;
  pointer-events: none;
}

.products-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
}

.products-searchbar > div {
  padding-left: 5px;
  padding-right: 5px;
}

.products-searchbar .Polaris-TextField--hasValue {
  width: 50%;
}

.products-searchbar .select-group {
  width: 35%;
}

.products-searchbar .Polaris-ButtonGroup {
  flex-wrap: wrap;
}

.products-searchbar .select-group .Polaris-ButtonGroup__Item {
  width: calc(50% - .8rem);
}

.table-responsive table {
  width: 100%;
  border-collapse: collapse;
}

.table-responsive table th {
  font-weight: 400;
  color: #212b36;
  border-bottom: 0.1rem solid #c4cdd5;
  border-top: 0;
  padding: 1.6rem;
  text-align: left;
}

.table-responsive table td {
  padding: 1.6rem;
  border-bottom: 0.1rem solid #f4f6f8;
  white-space: nowrap;
  text-align: left;
}

.icon-item {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
}

.icon-item img {
  width: 16px;
}

.img-profile {
  display: flex;
  align-items: center;
}

.img-profile .Polaris-Thumbnail {
  margin-right: 3rem;
}

.file-upoad {
  width: 100% !important;
  height: 100% !important;
  clip: auto !important;
}

.file-upoad input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.d-inline-block {
  display: inline-block;
}

.overflow-in {
  overflow: inherit;
}

.from-row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
}

.from-item {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-bottom: 15px;
}

.Polaris-Thumbnail--sizeLarge {
  width: 13rem !important;
}

