<template>
    <div>
        <Menus></Menus>
        <div class="">
            <router-view ></router-view>
        </div>
    </div>

</template>

<script>
    import Menus from './menu';
    export default {
        components:{
            Menus,
        },
        data(){
            return{}
        },
    };
</script>
